node_modules
.git
.gitignore
.github
tests
coverage
security
.husky
.env
.env.*
*.md
.eslintrc.json
.eslintignore
.prettierrc.json
.prettierignore
.gitleaks.toml
.trivyignore
.snyk
.gitguardian.yaml
sonar-project.properties
Dockerfile
.dockerignore
docker-compose*.yml
ecosystem.config.json
.travis.yml
